<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
    <authentication mode="Forms">
      <forms loginUrl="~/seguridad/login/"
             name="05A49E25"
             cookieless="UseCookies"
             requireSSL="true"
             timeout="5000"
             slidingExpiration="false"
             xdt:Transform="Replace" />
    </authentication>

    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" xdt:Transform="Replace" />
    
  </system.web>
  
  <system.webServer>
    <httpProtocol xdt:Transform="Insert">
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=16070400; includeSubDomains" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>